<table>
	<tr>
		<td>
			Food item
		</td>
		<td>
			Calories
		</td>
		<td>
			Carbs
		</td>
		<td>
			Protein
		</td>
		<td>
			Fat
		</td>
	</tr>
	
	<% @food_info_list.each do |food_info| %>
		<tr>
			<td>
				<%= food_info.food_item %>
			</td>
			<td>
				<%= food_info.calories %>
			</td>
			<td>
				<%= food_info.carb %>
			</td>
			<td>
				<%= food_info.protein %>
			</td>
			<td>
				<%= food_info.fat %>
			</td>
		</tr>
	<% end %>
</table>

<p>Total Calories: <%= @food_info_list.sum(:calories) %></p>
<p>Total Carbs: <%= @food_info_list.sum(:carb) %></p>
<p>Total Protein Intake: <%= @food_info_list.sum(:protein) %></p>
<p>Total Fat: <%= @food_info_list.sum(:fat) %></p>

<%= display_calorie_chart %>

<%= display_carb_chart %>

<%= display_protein_chart %>

<%= display_fat_chart %>